# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/.idea/
android/app/.cxx/
android/key.properties
**/*.keystore
**/*.jks

# iOS / macOS
**/Pods/
**/.symlinks/
**/Flutter/App.framework
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/Generated.xcconfig
**/Flutter/ephemeral/
**/Flutter/app.flx
**/Flutter/app.zip
**/Flutter/flutter_assets/
**/Flutter/flutter_export_environment.sh
**/ServiceDefinitions.json
**/Runner/GeneratedPluginRegistrant.*
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
**/profile
xcuserdata
**/.generated/
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/flutter_assets/
**/Flutter/ephemeral/
**/Flutter/app.flx
**/Flutter/app.zip
**/Flutter/flutter_export_environment.sh

# OS
.DS_Store
Thumbs.db
